header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  font-size: 1.1em;
  font-weight: bold;
}

nav a:hover {
  color: #d45d79;
}